.header{
    text-align: center;
    width: 1850px auto;
    margin: 0 auto;
}
a {
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    text-decoration: none;

}
a:hover {
    display: inline-block;
    color: rgb(130, 240, 255);
    transform: translateY(-4px);
    transition: 1s;
  }
body {
    background-color: #f0f0f0;
}
#title{

    border-radius: 40px 80px;
    padding: 10px ;
    background-color: rgb(17,156,235);
    text-align: center;
    color : white ;
    

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
  }
#title img{
    width: 200px;
  
}
/*'위 내용은 스튜디오 지브리 파란색 그거입니다 '*/
.container{
    position: relative;
    top: 30px;
    width: auto;
    margin: 0 auto; 
     display: flex;
  justify-content: center;
}
.page{
    position: relative;
    width: 925px;
    margin: 0 auto;
    float: left;
}

  .nav{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 400px;
    margin: 10px ;
    padding: 15px;
    left: 0px;
    border-radius: 20px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
    .nav:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .mainimg{
    float: left;
    width: 300px;
    margin: 15px ;
    margin-bottom: 50px;
    left: 0px;
    border-radius: 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .mainimg:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .log {
    margin:  auto;
    width: 1400px;
    padding: 15px 20px;
    background-color: #444444;
    border-radius: 5px;
    color: #ffffff;
  }
